<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link th:href="@{/zuul_file/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/zuul_file/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet"/>
<link th:href="@{/zuul_file/easyui/themes/bootstrap/easyui.css}" rel="stylesheet"/>
<link th:href="@{/zuul_file/easyui/themes/icon.css}" rel="stylesheet"/>
<script th:src="@{/zuul_file/webjars/jquery/1.11.3/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/zuul_file/easyui/jquery.easyui.min.js}" type="text/javascript"></script>
<script th:src="@{/zuul_file/easyui/locale/easyui-lang-zh_CN.js}" type="text/javascript"></script>
<title>文件上传</title>
</head>
<body>
	<div>
		<!--  
		<form th:action="@{/zuul/zuul_file/upload}" enctype="multipart/form-data" method="post">
		-->
		<form id="uploadFrm" method="post" novalidate="true" style="margin:15px; padding:10px;">
			<label>标题</label>
			<input name="title" class="easyui-textbox"/> <br/>
			<label>选择文件</label>
			<input name="redheadHistory" class="easyui-filebox" required="true" data-options="buttonText:'浏览',accept:'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'" style="width:260px;"/><br/>
			<label>主题</label>
			<input name="subject" class="easyui-textbox"/>
			<input type="button" value="上传" onclick="UploadPage.submit();"/>
		</form>
	</div>
	
	<div style="margin-top: 20px;">
		<form id="busFrm" method="post" novalidate="true" style="margin:15px; padding:10px;">
			<label>标题</label>
			<input name="title" class="easyui-textbox"/> <br/>
			<label>主题</label>
			<input name="subject" class="easyui-textbox"/>
			<input type="button" value="提交" onclick="UploadPage.submit2();"/>
		</form>
	</div>
	
	<div style="margin-top: 20px;">
		<form id="cnFrm" method="post" style="margin:15px; padding:10px;" action="/zuul/zuul_file/bus">
			<label>标题</label>
			<input name="title" class="easyui-textbox"/> <br/>
			<label>主题</label>
			<input name="subject" class="easyui-textbox"/>
			<input type="submit" value="提交" />
		</form>
	</div>
	<script th:line="javascript">
		var UploadPage = {
			submit: function() {
				$('#uploadFrm').form('submit', {
					iframe: false,
//  				url: 'upload2_Ax',
 					url: '/zuul/zuul_file/upload2_Ax',
				    success:function(result){
				    	$.messager.alert('提示','上传结果'+result);
				    	$('#uploadFrm').form('clear');
				    }
				});
			},
			submit2: function() {
				$('#busFrm').form('submit', {
					iframe: false,
 					url: '/zuul/zuul_file/bus',
				    success:function(result){
				    	$.messager.alert('提示','上传结果'+result);
				    	$('#uploadFrm').form('clear');
				    }
				});
			}
		};
	</script>
</body>
</html>